<!DOCTYPE html><!--HTML5-->
<meta charset="UTF-8"><!--인코딩-->
<html>
    <head>
        <!--js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
    </head>

    <body>
        <div class="container"><!--main-->            
            <div class="text-center"><!--Pricing-->
                <h1>Pricing</h1>
                Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.
            </div><!--Pricing END-->
                <div class="row justify-content-md-center">
                <div class="border border-secondary-50 rounded col-lg-3 col-md-5 col-sm-12 m-3 p-0"><!--Free location-->

                    <div class="text-center p-1 bg-secondary rounded"><!--Free title-->
                        <h3>Free</h3>
                    </div><!--Free title END-->

                    <div class="text-center m-3"><!--Free main-->
                        <div class="m-3">
                            <h1>$0 <small class="text-secondary">/ mo</small></h1><!--Price-->
                        </div>
                        10users included 2GB of storage Email support Help center access
                    </div><!--Free main END-->

                    <div class="text-center"><!--Free Button-->
                        <button class="rounded bg-transparent text-primary border-primary m-3 text-center">
                            Sign up for free
                        </button><!--Free Button END-->
                    </div>

                </div><!--Free location END-->

                <div class="border border-secondary-50 rounded col-lg-3 col-md-5 col-sm-12 m-3 p-0"><!--Pro location-->

                    <div class="text-center p-1 bg-secondary rounded"><!--PRO title-->
                        <h3>Pro</h3>
                    </div><!--PRO title END-->
                    
                    <div class="text-center m-3"><!--Pro main-->
                        <div class="m-3">
                            <h1>$15 <small class="text-secondary">/ mo</small></h1><!--Price-->
                        </div>
                        20 users iincluded 10GB of storage Priority email support Help center access
                    </div><!--Pro main END-->

                    <!--Pro Button-->
                    <div class="text-center">
                        <button class="rounded bg-primary text-white border-primary m-3">
                            Get started
                        </button>
                    </div>
                    <!--Pro Button END-->

                </div><!--Pro location END-->

                <div class="border border-secondary-50 rounded col-lg-3 col-md-12 col-sm-12 m-3 p-0"><!--Ent location-->

                    <div class="text-center p-1 bg-secondary rounded"><!--Ent title-->
                        <h3>Enterprise</h3>
                    </div><!--Ent title END-->
                    
                    <div class="text-center m-3"><!--Ent main-->
                        <div class="m-3">
                            <h1>$29 <small class="text-secondary">/ mo</small></h1><!--Price-->
                        </div>
                        30 users included 15 GB of storage Phone and email support Help center access
                    </div><!--Ent main END-->
                    
                    <div class="text-center"><!--Ent Button-->
                        <button class="rounded bg-primary text-white border-primary m-3">
                            Contact us
                        </button>
                    </div><!--Ent Button END-->
                </div><!--Ent location END-->
            </div>
        </div><!--main-->
    </body>
</html>