<!DOCTYPE html><!--HTML5-->
<meta charset="UTF-8"><!--인코딩-->
<html>
    <head>
        <!--js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
    </head>

    <body>
       <div class="container">
           <div class="row m-3">
                <div class="bg-danger col"> 1 of 2</div>
                <div class="bg-warning col"> 2 of 2</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col"> 1 of 3</div>
                <div class="bg-warning border col"> 2 of 3</div>
                <div class="bg-primary border col"> 3 of 3</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col"> 1 of 12</div>
                <div class="bg-warning border col"> 2 of 12</div>
                <div class="bg-primary border col"> 3 of 12</div>
                <div class="bg-danger border col"> 4 of 12</div>
                <div class="bg-warning border col"> 5 of 12</div>
                <div class="bg-primary border col"> 6 of 12</div>
                <div class="bg-danger border col"> 7 of 12</div>
                <div class="bg-warning border col"> 8 of 12</div>
                <div class="bg-primary border col"> 9 of 12</div>
                <div class="bg-danger border col"> 10 of 12</div>
                <div class="bg-warning border col"> 11 of 12</div>
                <div class="bg-primary border col"> 12 of 12</div>
                <div class="bg-danger border col"> 13 of 12</div>
                <div class="bg-warning border col"> 14 of 12</div>
                <div class="bg-primary border col"> 15 of 12</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col">1 of 3</div>
                <div class="bg-warning border col-6">2 of 3(wider)</div>
                <div class="bg-primary border col">3 of 3</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col">1 of 3</div>
                <div class="bg-warning border col-5">2 of 3(wider)</div>
                <div class="bg-primary border col">3 of 3</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col-3">col</div>
                <div class="bg-warning border col-3">col</div>
                <div class="bg-primary border col-3">col</div>
                <div class="bg-danger border col-3">col</div>
           </div>

           <div class="row m-3">
                <div class="bg-danger border col-8">col-8</div>
                <div class="bg-warning border col-4">col-4</div>
           </div>
        </div> 

        <div class="container">
            <div class="row m-3">
                 <div class="bg-danger border col-sm-8">col-sm</div>
                 <div class="bg-warning border col-sm-4">col-sm</div>
            </div>
     
            <div class="row m-3">
                 <div class="bg-danger border col-sm">col-sm</div>
                 <div class="bg-warning border col-sm">col-sm</div>
                 <div class="bg-primary border col-sm">col-sm</div>
            </div>
     
            <div class="row m-3">
                 <div class="bg-danger border col-lg-8">col-sm</div>
                 <div class="bg-warning border col-lg-4">col-sm</div>
            </div>
        </div>
    </body>
</html>