<!DOCTYPE html><!--HTML5-->
<meta charset="UTF-8"><!--인코딩-->
<html>
    <head>
        <!--js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        


    </head>

    <body>
        <div  class="mb-5 text-center">
            <h1>Pricing</h1>
            <small>Quickly ........................................</small>
        </div>
        <div class= "container">

            <div class="row  text-center justify-content-center ">
                

                    <div class="col-lg-3 col-md-5 col-sm-3 border p-0 m-2">
                        <h2 class = "bg-light text-center" >Free</h2>
                        <div >
                            <h1>$0<small style = "color: lightgray">/mo</small></h1>
                        </div>

                            <p class = "px-5">10 users included 2GB of storage<br> Email support<br>Help center access</p> 
                            <div class = "mx-3">
                                <button class = " bg-white text-primary border-primary col-12">Sign up for free</button>
                            </div>    
                    </div>
                    

                    <div class="col-lg-3 col-md-5 col-sm-3 border p-0 m-2">
                            <h2 class = "bg-light text-center" >Pro</h2>
                            <div >
                                <h1>$15<small style = "color: lightgray">/mo</small></h1>
                            </div>
    
                                <p class = "px-5">20 users included 10GB of storage Priority email support <br>Help center access</p> 
                                <div class = "mb-3">
                                    <button class = " bg-primary text-white border-primary col-12">Sign up for free</button>
                                </div>
                    </div>


                    <div class="col-lg-3 col-md-12 col-sm-3 border p-0 m-2">
                            <h2 class = "bg-light text-center" >Enterprise</h2>
                            <div >
                                <h1>$29<small style = "color: lightgray">/mo</small></h1>
                            </div>
    
                                <p class = "px-5">30 users included 15GB of storage Phone and email support Help center access</p> 
                                <div class = "mb-3">
                                    <button class = " bg-primary text-white border-primary col-12">Sign up for free</button>
                                </div>
                    </div>
                   
            </div>
                
     </div>
    </body>
</html>